body, html {
  height: 100%;
  margin: 0;
  font-family: Helvetica;
}

.navbar {
  background-color: #E8E8E8	;
}

.navbar a {
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  text-decoration: none;
  padding: 14px 16px;
  font-size: 17px;
  width: 33%;
  text-align: center;
  color:black;
}

.navbar a:hover {
	color: #3399ff;
}

.navbar a.active {
	background-color: #C0C0C0	
}

.welcome-text {
	width: 25%;
	height: 40%;
	margin-top: 20vh;
	margin-left: 20vw;
}

.continue-button {
	align-items: center;
}